/* TODO:
- add google font
- add color variables
*/
:root {
  --textColor : white;
  --background-color: blue;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;
  justify-content: space-between;
  max-width: 100vw;
  margin: 4px 2px 0px 2px;
}

.header-elements-container > * {
  background-color: var(--background-color);
}
/* Navbar all categories */
.navbar {
  min-width: 40px;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: #333;
  margin: 6px 0;
}

.main-nav,.components-nav,.search-nav,.peripherals-nav,.computers-nav,.components-nav,.gaming-nav{
  display: none;
}
.nav-links {
  text-decoration: none;
  color: var(--textColor);
}

li {
  text-align: left;
  list-style: none;
  margin: 10px;
}

.input-toggle{
  display: none;
}
.input-toggle:checked + div{
  display: block;
}

#menu-toggle:checked + div.main-nav {
  display: flex;
  flex-direction: row;
}

.logo {
  object-fit: contain;
  max-width: 100%;
  padding: 5px; 
}

.category {
  
  margin: 0;
}
.category-label {
  display: block;
  width: 100%;
  height: 100%;
}
 .category:hover  .category-label {
  background-color: red;
}

.sub-categories {
  color: white;
  background-color: red;
}