/* TODO:
- add google font
*/
:root {

    --background-color: #CED9D2;
    --background-color-secondary: #ADC0B9;
    --middle-color: #749D92;
    --text-color-secondary:#224E5C;
      --text-color :#1A2A45;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--middle-color);
}

.header-elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px 10px 0px 0px ;
  justify-content: space-between;
  max-width: 100vw;
  margin: 4px 0px 0px 0px; 
   background-color: var(--background-color);
}

.header-elements-container .header-icon{
  max-width: 50px;
  max-height: 50px;
  border: 1px solid var(--background-color-secondary);

}

.logo, .header-icon img, .search-form img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  padding: 5px; 
}

/* Navbar all categories */
.navbar {
  padding: 5px 2px 5px 2px;

}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--text-color-secondary);
  margin: 5px;
}

.categories-nav,.components-nav,.search-nav,.peripherals-nav,.computers-nav,.components-nav,.gaming-nav{
  display: none;
}

.nav-links {
  text-decoration: none;
  color: var(--textColor);
}

li {
  text-align: left;
  list-style: none;
  margin: 10px;
}

.input-toggle, .category-toggle{
  display: none;
}
.category-toggle:hover + div {
  display: block;
}
.input-toggle:checked + div{
  display: block;
}

#menu-toggle:checked + div.categories-nav {
  display: flex;
  flex-direction: row;
}

.category {
  background-color: var(--background-color);
  margin: 0;
}

.category-label {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

 .category:hover  .category-label{
  background-color: var(--background-color-secondary);
  border-right: none;
  border-top: 1px solid #1A2A45;
  border-bottom: 1px solid #1A2A45;
  scale: 102%;
}
.sub-categories{
  background-color: var(--background-color-secondary);
  border: 1px solid #1A2A45;;
}
.navbar-toggle:checked {
  background-color: #1A2A45;
}

.search-nav{
  width: 100%;
  padding: 0.5em;
  background-color: var(--background-color);
}
.search-form button{
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
 background-color: var(--background-color-secondary);
}
.search-form {
  display: flex;
  justify-content: center;

 }
 .search-form input {
  min-width: 90%;
  padding-left: 0.5em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
 }