/* TODO:
- add google font
- add color variables
*/
:root {
  --textColor : red;
  --background-color: blue;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-elements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;
  justify-content: space-between;
  max-width: 100vw;
  margin: 4px 2px 0px 2px;
}

.header-elements-container > * {
  background-color: var(--background-color);
}
/* Navbar all categories */
.navbar {
  min-width: 40px;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: #333;
  margin: 6px 0;
}

.main-nav,.components-nav,.search-nav,.peripherals-nav,.computers-nav,.components-nav,.gaming-nav{
  display: none;
}
.nav-links {
  text-decoration: none;
  color: var(--textColor);
}

li {
  text-align: left;
  list-style: none;
  margin: 10px;
}

.input-toggle{
  display: none;
}
.input-toggle:checked + div{
  display: block;
}

.category-check-background:checked + label.navbar-toggle {
  background-color:pink;
}

#menu-toggle:checked + div.main-nav {
  display: flex;
  flex-direction: row;
}
#menu-toggle:not(:checked) ~ div {
  display: none;
}

.logo {
  object-fit: contain;
  max-width: 100%;
  padding: 5px; 
}

/* .logo {
max-width: 60%;
object-fit: contain;
} */

/* #components-toggle:checked + div.components-nav {
  display: block;
}
#computers-toggle:checked + div.computers-nav {
  display: block;
}
#peripherals-toggle:checked + div.peripherals-nav {
  display: block;
}
#gaming-toggle:checked + div.gaming-nav {
  display: block;
}

#search-toggle:checked + div.search-nav {
  display: block;
} */